refss/blueprint (5).json
{
    "name": "Sender initial client pa data",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1683155,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -439,
                    "y": -25
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "another test hook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "value",
                        "type": "buffer"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "notion:appendAPageContent",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1063918
            },
            "mapper": {
                "page": "5431e175176f478a92700058aaf371a0",
                "objects": [
                    {
                        "type": "toggle",
                        "toggle": {
                            "text": [
                                {
                                    "text": {
                                        "content": "TESTTEST"
                                    },
                                    "type": "text",
                                    "annotations": {
                                        "color": "default"
                                    }
                                }
                            ]
                        }
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -137,
                    "y": -304
                },
                "restore": {
                    "expect": {
                        "page": {
                            "mode": "edit"
                        },
                        "objects": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Toggle"
                                    },
                                    "toggle": {
                                        "nested": {
                                            "text": {
                                                "mode": "chose",
                                                "items": [
                                                    {
                                                        "type": {
                                                            "mode": "chose",
                                                            "label": "Text"
                                                        },
                                                        "annotations": {
                                                            "nested": {
                                                                "bold": {
                                                                    "mode": "chose"
                                                                },
                                                                "code": {
                                                                    "mode": "chose"
                                                                },
                                                                "color": {
                                                                    "mode": "chose",
                                                                    "label": "default"
                                                                },
                                                                "italic": {
                                                                    "mode": "chose"
                                                                },
                                                                "underline": {
                                                                    "mode": "chose"
                                                                },
                                                                "strikethrough": {
                                                                    "mode": "chose"
                                                                }
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "Online Database Connection (Duque Immigration Services Inc.)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "page",
                        "type": "select",
                        "label": "Page ID",
                        "required": true
                    },
                    {
                        "name": "objects",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "options": {
                                    "store": [
                                        {
                                            "label": "Paragraph",
                                            "value": "paragraph"
                                        },
                                        {
                                            "label": "Heading 1",
                                            "value": "heading_1"
                                        },
                                        {
                                            "label": "Heading 2",
                                            "value": "heading_2"
                                        },
                                        {
                                            "label": "Heading 3",
                                            "value": "heading_3"
                                        },
                                        {
                                            "label": "Bulleted list item",
                                            "value": "bulleted_list_item"
                                        },
                                        {
                                            "label": "Numbered list item",
                                            "value": "numbered_list_item"
                                        },
                                        {
                                            "label": "Toggle",
                                            "value": "toggle"
                                        },
                                        {
                                            "label": "To do",
                                            "value": "to_do"
                                        },
                                        {
                                            "label": "Image",
                                            "value": "image"
                                        },
                                        {
                                            "label": "Embed",
                                            "value": "embed"
                                        },
                                        {
                                            "label": "File",
                                            "value": "file"
                                        },
                                        {
                                            "label": "PDF",
                                            "value": "pdf"
                                        },
                                        {
                                            "label": "Video",
                                            "value": "video"
                                        },
                                        {
                                            "label": "Breadcrumb",
                                            "value": "breadcrumb"
                                        },
                                        {
                                            "label": "Divider",
                                            "value": "divider"
                                        }
                                    ]
                                },
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Content Objects",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "content_id",
                "scope": "roundtrip",
                "value": "{{7.results[].id}}"
            },
            "metadata": {
                "designer": {
                    "x": 177,
                    "y": 16
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "content_id",
                        "type": "any",
                        "label": "content_id"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "notion:updateABlock",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1063918
            },
            "mapper": {
                "type": "paragraph",
                "block_id": "{{8.content_id}}",
                "paragraph": {
                    "rich_text": [
                        {
                            "text": {
                                "content": "{\"name\": \"whatever\", \"hey\": \"foo\"}"
                            },
                            "type": "text",
                            "annotations": {
                                "code": true,
                                "color": "default"
                            }
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 585,
                    "y": -212
                },
                "restore": {
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Paragraph",
                            "nested": [
                                {
                                    "name": "paragraph",
                                    "spec": [
                                        {
                                            "name": "rich_text",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "text",
                                                                    "spec": [
                                                                        {
                                                                            "name": "content",
                                                                            "type": "text",
                                                                            "label": "Content",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "name": "link",
                                                                            "type": "url",
                                                                            "label": "Link"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Text"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Mention",
                                                            "value": "mention",
                                                            "nested": [
                                                                {
                                                                    "name": "mention",
                                                                    "spec": [
                                                                        {
                                                                            "name": "type",
                                                                            "type": "select",
                                                                            "label": "Type",
                                                                            "options": [
                                                                                {
                                                                                    "label": "User",
                                                                                    "value": "user",
                                                                                    "nested": [
                                                                                        {
                                                                                            "name": "user",
                                                                                            "type": "select",
                                                                                            "label": "User ID",
                                                                                            "options": "rpc://notion/1/listUsers?noBot=true",
                                                                                            "required": true
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "label": "Page",
                                                                                    "value": "page",
                                                                                    "nested": [
                                                                                        {
                                                                                            "name": "page",
                                                                                            "type": "select",
                                                                                            "label": "Page ID",
                                                                                            "options": "rpc://notion/1/listPages",
                                                                                            "required": true
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "label": "Database",
                                                                                    "value": "database",
                                                                                    "nested": [
                                                                                        {
                                                                                            "name": "database",
                                                                                            "type": "select",
                                                                                            "label": "Database ID",
                                                                                            "options": "rpc://notion/1/listDatabases",
                                                                                            "required": true
                                                                                        }
                                                                                    ]
                                                                                },
                                                                                {
                                                                                    "label": "Date",
                                                                                    "value": "date",
                                                                                    "nested": [
                                                                                        {
                                                                                            "name": "date",
                                                                                            "spec": [
                                                                                                {
                                                                                                    "name": "start",
                                                                                                    "time": true,
                                                                                                    "type": "date",
                                                                                                    "label": "Start",
                                                                                                    "required": true
                                                                                                },
                                                                                                {
                                                                                                    "name": "end",
                                                                                                    "time": true,
                                                                                                    "type": "date",
                                                                                                    "label": "End"
                                                                                                }
                                                                                            ],
                                                                                            "type": "collection",
                                                                                            "label": "Date"
                                                                                        }
                                                                                    ]
                                                                                }
                                                                            ],
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Mention"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Equation",
                                                            "value": "equation",
                                                            "nested": [
                                                                {
                                                                    "name": "equation",
                                                                    "spec": [
                                                                        {
                                                                            "name": "expression",
                                                                            "type": "text",
                                                                            "label": "Expression",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Equation"
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "required": true
                                                },
                                                {
                                                    "name": "annotations",
                                                    "spec": [
                                                        {
                                                            "name": "bold",
                                                            "type": "boolean",
                                                            "label": "Bold"
                                                        },
                                                        {
                                                            "name": "italic",
                                                            "type": "boolean",
                                                            "label": "Italic"
                                                        },
                                                        {
                                                            "name": "strikethrough",
                                                            "type": "boolean",
                                                            "label": "Strikethrough"
                                                        },
                                                        {
                                                            "name": "underline",
                                                            "type": "boolean",
                                                            "label": "Underline"
                                                        },
                                                        {
                                                            "name": "code",
                                                            "type": "boolean",
                                                            "label": "Code"
                                                        },
                                                        {
                                                            "name": "color",
                                                            "type": "select",
                                                            "label": "Color",
                                                            "options": [
                                                                {
                                                                    "label": "default",
                                                                    "value": "default",
                                                                    "default": true
                                                                },
                                                                {
                                                                    "label": "Brown",
                                                                    "value": "brown"
                                                                },
                                                                {
                                                                    "label": "Orange",
                                                                    "value": "orange"
                                                                },
                                                                {
                                                                    "label": "Yellow",
                                                                    "value": "yellow"
                                                                },
                                                                {
                                                                    "label": "Green",
                                                                    "value": "green"
                                                                },
                                                                {
                                                                    "label": "Blue",
                                                                    "value": "blue"
                                                                },
                                                                {
                                                                    "label": "Purple",
                                                                    "value": "purple"
                                                                },
                                                                {
                                                                    "label": "Pink",
                                                                    "value": "pink"
                                                                },
                                                                {
                                                                    "label": "Red",
                                                                    "value": "red"
                                                                },
                                                                {
                                                                    "label": "Gray background",
                                                                    "value": "gray_background"
                                                                },
                                                                {
                                                                    "label": "Brown background",
                                                                    "value": "brown_background"
                                                                },
                                                                {
                                                                    "label": "Orange background",
                                                                    "value": "orange_background"
                                                                },
                                                                {
                                                                    "label": "Yellow background",
                                                                    "value": "yellow_background"
                                                                },
                                                                {
                                                                    "label": "Green background",
                                                                    "value": "green_background"
                                                                },
                                                                {
                                                                    "label": "Blue background",
                                                                    "value": "blue_background"
                                                                },
                                                                {
                                                                    "label": "Purple background",
                                                                    "value": "purple_background"
                                                                },
                                                                {
                                                                    "label": "Pink background",
                                                                    "value": "pink_background"
                                                                },
                                                                {
                                                                    "label": "Red background",
                                                                    "value": "red_background"
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Annotations"
                                                },
                                                {
                                                    "help": "The URL of any link or internal Notion mention in this text.",
                                                    "name": "href",
                                                    "type": "url",
                                                    "label": "href"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Text",
                                            "required": true
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Paragraph"
                                }
                            ]
                        },
                        "archived": {
                            "mode": "chose"
                        },
                        "paragraph": {
                            "nested": {
                                "rich_text": {
                                    "mode": "chose",
                                    "items": [
                                        {
                                            "type": {
                                                "mode": "chose",
                                                "label": "Text"
                                            },
                                            "annotations": {
                                                "nested": {
                                                    "bold": {
                                                        "mode": "chose"
                                                    },
                                                    "code": {
                                                        "mode": "chose"
                                                    },
                                                    "color": {
                                                        "mode": "chose",
                                                        "label": "default"
                                                    },
                                                    "italic": {
                                                        "mode": "chose"
                                                    },
                                                    "underline": {
                                                        "mode": "chose"
                                                    },
                                                    "strikethrough": {
                                                        "mode": "chose"
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            },
                            "collapsed": true
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "Online Database Connection (Duque Immigration Services Inc.)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "block_id",
                        "type": "text",
                        "label": "Page Content ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "validate": {
                            "enum": [
                                "paragraph",
                                "heading_1",
                                "heading_2",
                                "heading_3",
                                "bulleted_list_item",
                                "numbered_list_item",
                                "toggle",
                                "to_do",
                                "divider"
                            ]
                        }
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "paragraph",
                        "spec": [
                            {
                                "name": "rich_text",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "spec": [
                                                            {
                                                                "name": "content",
                                                                "type": "text",
                                                                "label": "Content",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "link",
                                                                "type": "url",
                                                                "label": "Link"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text"
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Mention",
                                                "value": "mention",
                                                "nested": [
                                                    {
                                                        "name": "mention",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "select",
                                                                "label": "Type",
                                                                "options": [
                                                                    {
                                                                        "label": "User",
                                                                        "value": "user",
                                                                        "nested": [
                                                                            {
                                                                                "name": "user",
                                                                                "type": "select",
                                                                                "label": "User ID",
                                                                                "options": "rpc://notion/1/listUsers?noBot=true",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Page",
                                                                        "value": "page",
                                                                        "nested": [
                                                                            {
                                                                                "name": "page",
                                                                                "type": "select",
                                                                                "label": "Page ID",
                                                                                "options": "rpc://notion/1/listPages",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Database",
                                                                        "value": "database",
                                                                        "nested": [
                                                                            {
                                                                                "name": "database",
                                                                                "type": "select",
                                                                                "label": "Database ID",
                                                                                "options": "rpc://notion/1/listDatabases",
                                                                                "required": true
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "label": "Date",
                                                                        "value": "date",
                                                                        "nested": [
                                                                            {
                                                                                "name": "date",
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "start",
                                                                                        "time": true,
                                                                                        "type": "date",
                                                                                        "label": "Start",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "end",
                                                                                        "time": true,
                                                                                        "type": "date",
                                                                                        "label": "End"
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Date"
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Mention"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Equation",
                                                "value": "equation",
                                                "nested": [
                                                    {
                                                        "name": "equation",
                                                        "spec": [
                                                            {
                                                                "name": "expression",
                                                                "type": "text",
                                                                "label": "Expression",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Equation"
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "bold",
                                                "type": "boolean",
                                                "label": "Bold"
                                            },
                                            {
                                                "name": "italic",
                                                "type": "boolean",
                                                "label": "Italic"
                                            },
                                            {
                                                "name": "strikethrough",
                                                "type": "boolean",
                                                "label": "Strikethrough"
                                            },
                                            {
                                                "name": "underline",
                                                "type": "boolean",
                                                "label": "Underline"
                                            },
                                            {
                                                "name": "code",
                                                "type": "boolean",
                                                "label": "Code"
                                            },
                                            {
                                                "name": "color",
                                                "type": "select",
                                                "label": "Color",
                                                "options": [
                                                    {
                                                        "label": "default",
                                                        "value": "default",
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Brown",
                                                        "value": "brown"
                                                    },
                                                    {
                                                        "label": "Orange",
                                                        "value": "orange"
                                                    },
                                                    {
                                                        "label": "Yellow",
                                                        "value": "yellow"
                                                    },
                                                    {
                                                        "label": "Green",
                                                        "value": "green"
                                                    },
                                                    {
                                                        "label": "Blue",
                                                        "value": "blue"
                                                    },
                                                    {
                                                        "label": "Purple",
                                                        "value": "purple"
                                                    },
                                                    {
                                                        "label": "Pink",
                                                        "value": "pink"
                                                    },
                                                    {
                                                        "label": "Red",
                                                        "value": "red"
                                                    },
                                                    {
                                                        "label": "Gray background",
                                                        "value": "gray_background"
                                                    },
                                                    {
                                                        "label": "Brown background",
                                                        "value": "brown_background"
                                                    },
                                                    {
                                                        "label": "Orange background",
                                                        "value": "orange_background"
                                                    },
                                                    {
                                                        "label": "Yellow background",
                                                        "value": "yellow_background"
                                                    },
                                                    {
                                                        "label": "Green background",
                                                        "value": "green_background"
                                                    },
                                                    {
                                                        "label": "Blue background",
                                                        "value": "blue_background"
                                                    },
                                                    {
                                                        "label": "Purple background",
                                                        "value": "purple_background"
                                                    },
                                                    {
                                                        "label": "Pink background",
                                                        "value": "pink_background"
                                                    },
                                                    {
                                                        "label": "Red background",
                                                        "value": "red_background"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Annotations"
                                    },
                                    {
                                        "name": "href",
                                        "type": "url",
                                        "label": "href"
                                    }
                                ],
                                "type": "array",
                                "label": "Text",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Paragraph"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}