refss/blueprint (4).json
{
    "name": "Website Inquiry -> Notion + Send Email",
    "flow": [
        {
            "id": 1,
            "module": "tally:watchNewResponse",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 546703
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "My New Response webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:tally",
                        "label": "Webhook",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "submissionId",
                        "type": "text",
                        "label": "Submission ID"
                    },
                    {
                        "name": "respondentId",
                        "type": "text",
                        "label": "Respondent ID"
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID"
                    },
                    {
                        "name": "formName",
                        "type": "text",
                        "label": "Form Name"
                    },
                    {
                        "name": "createdAt",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "fields",
                        "spec": [
                            {
                                "name": "NAME",
                                "type": "text"
                            },
                            {
                                "name": "ADDRESS",
                                "type": "text"
                            },
                            {
                                "name": "PHONE NUMBER",
                                "type": "text"
                            },
                            {
                                "name": "EMAIL",
                                "type": "text"
                            },
                            {
                                "name": "INQUIRY",
                                "type": "text"
                            },
                            {
                                "name": "INFORMATION",
                                "type": "text"
                            },
                            {
                                "name": "Are you an employer inquiring about an LMIA?",
                                "type": "text"
                            },
                            {
                                "name": "What is the Applicant's Given Name?",
                                "type": "text"
                            },
                            {
                                "name": "What is the Applicant's Family Name?",
                                "type": "text"
                            },
                            {
                                "name": "What is the Applicant's residential address?",
                                "type": "text"
                            },
                            {
                                "name": "What is the Applicant's phone number?",
                                "type": "text"
                            },
                            {
                                "name": "What is the Applicant's email?",
                                "type": "email"
                            },
                            {
                                "name": "Does the Applicant have a supporter in Canada?",
                                "type": "text"
                            },
                            {
                                "name": "@NAME ",
                                "type": "text"
                            },
                            {
                                "name": "What is the supporter's family name?",
                                "type": "text"
                            },
                            {
                                "name": "@ADDRESS  ",
                                "type": "text"
                            },
                            {
                                "name": "@PHONE NUMBER ",
                                "type": "text"
                            },
                            {
                                "name": "@EMAIL ",
                                "type": "email"
                            },
                            {
                                "name": "What is the supporter's relationship with the Applicant?",
                                "type": "text"
                            },
                            {
                                "name": "@INQUIRY ",
                                "type": "text"
                            },
                            {
                                "name": "Please upload the Applicant's resume (Optional)",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "File Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "mimeType",
                                        "type": "text",
                                        "label": "File Mime Type"
                                    },
                                    {
                                        "name": "size",
                                        "type": "uinteger",
                                        "label": "File Size"
                                    }
                                ],
                                "type": "array"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields"
                    },
                    {
                        "name": "fieldsById",
                        "spec": [
                            {
                                "name": "question_RGGKxQ_e02ee8b5-2307-4b25-aa2d-80ce1a1e8b5f",
                                "type": "text",
                                "label": "NAME"
                            },
                            {
                                "name": "question_RGGKxQ_8d58c9c5-9afc-434a-b978-839e2940255f",
                                "type": "text",
                                "label": "ADDRESS"
                            },
                            {
                                "name": "question_RGGKxQ_f09535f2-3f21-4744-a2b0-6053d3b5512e",
                                "type": "text",
                                "label": "PHONE NUMBER"
                            },
                            {
                                "name": "question_RGGKxQ_86ea414c-3f53-49de-a356-de86b9b79a17",
                                "type": "text",
                                "label": "EMAIL"
                            },
                            {
                                "name": "question_RGGKxQ_c53b313c-fb7d-4474-8272-6d1ff8d257c2",
                                "type": "text",
                                "label": "INQUIRY"
                            },
                            {
                                "name": "question_RGGKxQ_f5db1ac3-eae1-4e75-8a44-f46c1b90d17a",
                                "type": "text",
                                "label": "INFORMATION"
                            },
                            {
                                "name": "question_obb6EN",
                                "type": "text",
                                "label": "Are you an employer inquiring about an LMIA?"
                            },
                            {
                                "name": "question_3xeydr",
                                "type": "text",
                                "label": "What is the Applicant's Given Name?"
                            },
                            {
                                "name": "question_mZpYdo",
                                "type": "text",
                                "label": "What is the Applicant's Family Name?"
                            },
                            {
                                "name": "question_mOWYAR",
                                "type": "text",
                                "label": "What is the Applicant's residential address?"
                            },
                            {
                                "name": "question_mVkYzy",
                                "type": "text",
                                "label": "What is the Applicant's phone number?"
                            },
                            {
                                "name": "question_nPaYze",
                                "type": "email",
                                "label": "What is the Applicant's email?"
                            },
                            {
                                "name": "question_3NeYAl",
                                "type": "text",
                                "label": "Does the Applicant have a supporter in Canada?"
                            },
                            {
                                "name": "question_3jOWl4",
                                "type": "text",
                                "label": "@NAME "
                            },
                            {
                                "name": "question_wgRZ5O",
                                "type": "text",
                                "label": "What is the supporter's family name?"
                            },
                            {
                                "name": "question_mVkYZg",
                                "type": "text",
                                "label": "@ADDRESS  "
                            },
                            {
                                "name": "question_3XKYeg",
                                "type": "text",
                                "label": "@PHONE NUMBER "
                            },
                            {
                                "name": "question_w808d5",
                                "type": "email",
                                "label": "@EMAIL "
                            },
                            {
                                "name": "question_w2MvK9",
                                "type": "text",
                                "label": "What is the supporter's relationship with the Applicant?"
                            },
                            {
                                "name": "question_3xeyJ5",
                                "type": "text",
                                "label": "@INQUIRY "
                            },
                            {
                                "name": "question_3NeY7j",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "File ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "File Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "mimeType",
                                        "type": "text",
                                        "label": "File Mime Type"
                                    },
                                    {
                                        "name": "size",
                                        "type": "uinteger",
                                        "label": "File Size"
                                    }
                                ],
                                "type": "array",
                                "label": "Please upload the Applicant's resume (Optional)"
                            }
                        ],
                        "type": "collection",
                        "label": "Fields by ID"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "folder": "INBOX.Sent",
                                "account": 3063915,
                                "accountImap": 3064028,
                                "saveAfterSent": true
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.fields.`@EMAIL `}}",
                                            "o": "notexist"
                                        },
                                        {
                                            "a": "{{1.fields.`Are you an employer inquiring about an LMIA?`}}",
                                            "b": "No",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{1.fields.`What is the Applicant's email?`}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Dear {{1.fields.`What is the Applicant's Given Name?`}} {{1.fields.`What is the Applicant's Family Name?`}},<br><br>This refers to your inquiry to determine which Canadian Immigration application you are eligible to apply.<br><br>Thank you for sending\nus your information.<br><br>In order for our firm to provide the level of service which you would deserve and expect, it is essential that there be no misunderstanding regarding what your financial obligations will be to our firm. <br><br><b>Duque Immigration Services Canada Inc.</b>aims\nto make our professional legal charges as clear and simple as possible. We will deliver highly competent and ethical services and moderate pricing in all areas of immigration practices.<br><br>It will be our pleasure to provide you with a Personal Comprehensive\nAssessment and Initial Consultation (PCAIC) for a <b>ONE TIME</b> fee of $150.00 CAD, instead of PER HOUR base. Also, please note that this amount will also be transferable to any future immigration application that you will pursue with our firm.<br><br>This\nPCAIC will cover the following:<br><br> 1. All Canadian Immigration Applications that you are eligible to apply;<br> 2. All expenses related to the eligible Canadian Immigration applications;<br> 3. Details and procedures concerning the Processing time;<br>\n\n\n<p>If this interests you, please click on the button or link below:</p>\n<a href=\"https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}\" style=\"display: inline-block; background-color: #ec232b; color: #000000; text-align: center; padding: 10px 20px; font-size: 16px; font-weight: bold; text-decoration: none; border-radius: 5px;\">\n        Click here to receive a PCAIC contract.\n    </a><br><br>\n<a href=\"https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}\">https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}</a>\n\n<br><br>Should you have any questions or concerns, please do not hesitate to contact us @ (204) 339-2522.<br><br>Best Regards,<br><br>Immigration Case Processor Team<br>Processing Team<br><br>Address: Unit 2 - 2536 Main Street, Winnipeg, Manitoba R2V\n4Y1\n<br>Phone: (204) 339-2522<br>Fax: (204) 339-2530<br>Facebook: @duqueimmigrationservices<br>Instagram: @duqueimmigration<br><br><b>NOTICE CONCERNING CONFIDENTIALITY</b>\n<div dir=\"auto\">The content of this email is confidential and intended for the recipient specified in the message only. If you are not the intended recipient, please delete the email and notify the sender immediately.&nbsp;</div>\n<div dir=\"auto\"><br></div>\n<div dir=\"auto\">\n    <img src=\"https://duqueimmigration.ca/wp-content/uploads/2020/07/cropped-Duque-Immigration-Logo-e1683064538205.png\"></div>",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Inquiry - Duque Immigration Services Inc.",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 605,
                                    "y": -301,
                                    "name": "Email - No Supporter"
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "folder": {
                                            "label": "Sent"
                                        },
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "smtp"
                                            },
                                            "label": "Info @ Hostinger (SMTP) connection (SMTP info@duqueimmigration.ca)"
                                        },
                                        "accountImap": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "imap"
                                            },
                                            "label": "Info @ Hostinger (IMAP) connection (IMAP info@duqueimmigration.ca)"
                                        },
                                        "saveAfterSent": {
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "accountImap",
                                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "folder",
                                        "type": "select",
                                        "label": "Folder",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "folder": "INBOX.Sent",
                                "account": 3063915,
                                "accountImap": 3064028,
                                "saveAfterSent": true
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.fields.`@EMAIL `}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{1.fields.`Are you an employer inquiring about an LMIA?`}}",
                                            "b": "No",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{1.fields.`What is the Applicant's email?`}}",
                                    "{{1.fieldsById.question_w808d5}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Dear {{1.fields.`What is the Applicant's Given Name?`}} {{1.fields.`What is the Applicant's Family Name?`}} c/o {{1.fields.`@NAME `}} {{1.fields.`What is the supporter's family name?`}},<br><br>This refers to your inquiry to determine which Canadian Immigration\napplication you are eligible to apply.<br><br>Thank you for sending us your information.<br><br>In order for our firm to provide the level of service which you would deserve and expect, it is essential that there be no misunderstanding regarding what\nyour financial obligations will be to our firm. <br><br><b>Duque Immigration Services Canada Inc.</b> aims to make our professional legal charges as clear and simple as possible. We will deliver highly competent and ethical services and moderate pricing\nin all areas of immigration practices.<br><br>It will be our pleasure to provide you with a Personal Comprehensive Assessment and Initial Consultation (PCAIC) for a <b>ONE TIME</b> fee of $150.00 CAD, instead of PER HOUR base. Also, please note that this\namount will also be transferable to any future immigration application that you will pursue with our firm.<br><br>This PCAIC will cover the following:<br><br> 1. All Canadian Immigration Applications that you are eligible to apply;<br> 2. All expenses\nrelated to the eligible Canadian Immigration applications;<br> 3. Details and procedures concerning the Processing time;<br>\n\n<p>If this interests you, please click on the button or link below:</p>\n<a href=\"https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}\" style=\"display: inline-block; background-color: #ec232b; color: #000000; text-align: center; padding: 10px 20px; font-size: 16px; font-weight: bold; text-decoration: none; border-radius: 5px;\">\n        Click here to receive a PCAIC contract.\n    </a><br><br>\n<a href=\"https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}\">https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}</a>\n\n\n<br><br>Should you\nhave any questions or concerns, please do not hesitate to contact us @ (204) 339-2522.<br><br>Best Regards,<br><br>Immigration Case Processor Team<br>Processing Team<br><br>Address: Unit 2 - 2536 Main Street, Winnipeg, Manitoba R2V 4Y1<br>Phone: (204)\n339-2522\n<br>Fax: (204) 339-2530<br>Facebook: @duqueimmigrationservices<br>Instagram: @duqueimmigration<br><br><b>NOTICE CONCERNING CONFIDENTIALITY</b>\n<div dir=\"auto\">The content of this email is confidential and intended for the recipient specified in the message only. If you are not the intended recipient, please delete the email and notify the sender immediately.&nbsp;</div>\n<div dir=\"auto\"><br></div>\n<div dir=\"auto\">\n    <img src=\"https://duqueimmigration.ca/wp-content/uploads/2020/07/cropped-Duque-Immigration-Logo-e1683064538205.png\"></div>",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "Inquiry - Duque Immigration Services Inc.",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 718,
                                    "y": 121,
                                    "name": "Email - Supporter"
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "folder": {
                                            "label": "Sent"
                                        },
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "smtp"
                                            },
                                            "label": "Info @ Hostinger (SMTP) connection (SMTP info@duqueimmigration.ca)"
                                        },
                                        "accountImap": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "imap"
                                            },
                                            "label": "Info @ Hostinger (IMAP) connection (IMAP info@duqueimmigration.ca)"
                                        },
                                        "saveAfterSent": {
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "accountImap",
                                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "folder",
                                        "type": "select",
                                        "label": "Folder",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "email:ActionSendEmail",
                            "version": 7,
                            "parameters": {
                                "folder": "INBOX.Sent",
                                "account": 3063915,
                                "accountImap": 3064028,
                                "saveAfterSent": true
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.fields.`Are you an employer inquiring about an LMIA?`}}",
                                            "b": "Yes",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "{{1.fields.`What is the Applicant's email?`}}",
                                    "{{1.fields.`@EMAIL `}}"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Dear {{1.fields.`What is the Applicant's Given Name?`}} {{1.fields.`What is the Applicant's Family Name?`}} c/o {{1.fields.`@NAME `}},<br><br>This refers to your inquiry to determine which Labour Market Impact Assessment (LMIA) programs your business\nis eligible to apply for.<br><br>Thank you for sending us information about your business.<br><br>In order for our firm to provide the level of service which you would deserve and expect, it is essential that there be no misunderstanding regarding what\nyour financial obligations will be to our firm. <br><br><b>Duque Immigration Services Canada Inc.</b> aims to make our professional legal charges as clear and simple as possible. We will deliver highly competent and ethical services and moderate pricing\nin all areas of immigration practices.<br><br>It will be our pleasure to provide you with a Personal Comprehensive Assessment and Initial Consultation (PCAIC) for a <b>ONE TIME</b> fee of $300.00 CAD, instead of PER HOUR base. Also, please note that this\namount will also be transferable to any future LMIA application that you will pursue with our firm.<br><br>This PCAIC will cover the following:<br><br> 1. All LMIA streams that your business is eligible to apply under;<br> 2. All expenses related to the\neligible LMIA applications;<br> 3. Details and procedures concerning the Processing time;<br>\n\n<p>If this interests you, please click on the button or link below:</p>\n<a href=\"https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}\" style=\"display: inline-block; background-color: #ec232b; color: #000000; text-align: center; padding: 10px 20px; font-size: 16px; font-weight: bold; text-decoration: none; border-radius: 5px;\">\n        Click here to receive a PCAIC contract.\n    </a><br><br>\n<a href=\"https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}\">https://duqueimmigration.ca/PCAIC?id={{1.submissionId}}</a>\n\n<br><br>Should you have any questions or concerns, please do not hesitate to contact us @ (204) 339-2522.<br><br>Best Regards,<br><br>Immigration Case Processor Team<br>Processing Team<br><br>Address: Unit 2 - 2536 Main Street, Winnipeg, Manitoba R2V\n4Y1\n<br>Phone: (204) 339-2522<br>Fax: (204) 339-2530<br>Facebook: @duqueimmigrationservices\n<br>Instagram: @duqueimmigration<br><br><b>NOTICE CONCERNING CONFIDENTIALITY</b>\n<div dir=\"auto\">The content of this email is confidential and intended for the recipient specified in the message only. If you are not the intended recipient, please delete the email and notify the sender immediately.&nbsp;</div>\n<div dir=\"auto\"><br></div>\n<div dir=\"auto\">\n    <img src=\"https://duqueimmigration.ca/wp-content/uploads/2020/07/cropped-Duque-Immigration-Logo-e1683064538205.png\"></div>",
                                "sender": "",
                                "headers": [],
                                "replyTo": "",
                                "subject": "LMIA Inquiry - Duque Immigration Services Inc.",
                                "priority": "normal",
                                "inReplyTo": "",
                                "references": [],
                                "attachments": [],
                                "contentType": "html"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 610,
                                    "y": 448,
                                    "name": "Email - LMIA"
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "label": "Normal"
                                        },
                                        "references": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "HTML"
                                        }
                                    },
                                    "parameters": {
                                        "folder": {
                                            "label": "Sent"
                                        },
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "smtp"
                                            },
                                            "label": "Info @ Hostinger (SMTP) connection (SMTP info@duqueimmigration.ca)"
                                        },
                                        "accountImap": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "imap"
                                            },
                                            "label": "Info @ Hostinger (IMAP) connection (IMAP info@duqueimmigration.ca)"
                                        },
                                        "saveAfterSent": {
                                            "label": "Yes"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "saveAfterSent",
                                        "type": "select",
                                        "label": "Save message after sending",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "name": "accountImap",
                                        "type": "account:imap,google-restricted,microsoft-smtp-imap",
                                        "label": "Connection",
                                        "required": true
                                    },
                                    {
                                        "name": "folder",
                                        "type": "select",
                                        "label": "Folder",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "html",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "sender",
                                        "type": "text",
                                        "label": "Sender"
                                    },
                                    {
                                        "name": "replyTo",
                                        "type": "text",
                                        "label": "Reply-To"
                                    },
                                    {
                                        "name": "inReplyTo",
                                        "type": "text",
                                        "label": "In-Reply-To"
                                    },
                                    {
                                        "name": "references",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Reference",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "References"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "high",
                                                "normal",
                                                "low"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}