refss/watcher.json
{
    "name": "PQ BOT - Watcher",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1744267,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -856,
                    "y": -15
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "PQ watcher hook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Metadata",
                        "spec": [
                            {
                                "name": "NotionTaskID",
                                "type": "text"
                            },
                            {
                                "name": "isPA",
                                "type": "boolean"
                            }
                        ],
                        "type": "collection"
                    },
                    {
                        "name": "Entry",
                        "spec": [
                            {
                                "name": "PublicLink",
                                "type": "text"
                            }
                        ],
                        "type": "collection"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "notion:getADatabaseItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1063918
            },
            "mapper": {
                "page": "{{1.Metadata.NotionTaskID}}",
                "select": "map"
            },
            "metadata": {
                "designer": {
                    "x": -566,
                    "y": -63
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "notion2"
                            },
                            "label": "Online Database Connection (Duque Immigration Services Inc.)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get a Database Item",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "type": "text",
                        "label": "Database Item ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "properties_value",
                        "spec": [],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{3.properties_value.file[].external.url}}",
                "method": "get",
                "serializeUrl": false,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": -391,
                    "y": 134
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:TransformEncoding",
            "version": 1,
            "parameters": {},
            "mapper": {
                "cpin": "utf8",
                "data": "{{4.data}}",
                "cpout": "utf8"
            },
            "metadata": {
                "designer": {
                    "x": -153,
                    "y": 34
                },
                "restore": {
                    "expect": {
                        "cpin": {
                            "mode": "chose",
                            "label": "UTF 8"
                        },
                        "cpout": {
                            "mode": "chose",
                            "label": "UTF 8"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Input data"
                    },
                    {
                        "name": "cpin",
                        "type": "select",
                        "label": "Input data codepage",
                        "validate": {
                            "enum": [
                                "utf8",
                                "ucs2",
                                "utf16be",
                                "cp1250",
                                "cp1251",
                                "cp1252",
                                "cp1253",
                                "cp1254",
                                "cp1255",
                                "cp1256",
                                "cp1257",
                                "cp1258",
                                "cp28591",
                                "cp28592",
                                "cp28593",
                                "cp28594",
                                "cp28595",
                                "cp28596",
                                "cp28597",
                                "cp28598",
                                "cp28599",
                                "cp28600",
                                "cp28601",
                                "cp28602",
                                "cp28603",
                                "cp28604",
                                "cp28605",
                                "cp28606",
                                "big5",
                                "big5-hkscs",
                                "euc-cn",
                                "euc-jp",
                                "euc-kr",
                                "gb18030",
                                "gb2312",
                                "gbk",
                                "ks_c_5601",
                                "shift_jis",
                                "windows-31j",
                                "windows932",
                                "windows936",
                                "windows949",
                                "windows950",
                                "ascii"
                            ]
                        }
                    },
                    {
                        "name": "cpout",
                        "type": "select",
                        "label": "Output data codepage",
                        "required": true,
                        "validate": {
                            "enum": [
                                "utf8",
                                "ucs2",
                                "utf16be",
                                "cp1250",
                                "cp1251",
                                "cp1252",
                                "cp1253",
                                "cp1254",
                                "cp1255",
                                "cp1256",
                                "cp1257",
                                "cp1258",
                                "cp28591",
                                "cp28592",
                                "cp28593",
                                "cp28594",
                                "cp28595",
                                "cp28596",
                                "cp28597",
                                "cp28598",
                                "cp28599",
                                "cp28600",
                                "cp28601",
                                "cp28602",
                                "cp28603",
                                "cp28604",
                                "cp28605",
                                "cp28606",
                                "big5",
                                "big5-hkscs",
                                "euc-cn",
                                "euc-jp",
                                "euc-kr",
                                "gb18030",
                                "gb2312",
                                "gbk",
                                "ks_c_5601",
                                "shift_jis",
                                "windows-31j",
                                "windows932",
                                "windows936",
                                "windows949",
                                "windows950",
                                "ascii"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{5.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 52,
                    "y": 164
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{7.pqStatus}}"
            },
            "metadata": {
                "designer": {
                    "x": 248,
                    "y": -62
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "ifReturned",
                "scope": "roundtrip",
                "value": "{{if(11.id = 1.Id; true; false)}}"
            },
            "metadata": {
                "designer": {
                    "x": 474,
                    "y": -218
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "ifReturned",
                        "type": "any",
                        "label": "ifReturned"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 11
            },
            "mapper": {
                "id": "{{11.id}}",
                "name": "{{11.name}}",
                "Entry": "{{11.Entry}}",
                "whichPq": "{{11.whichPq}}",
                "ifReturned": "{{21.ifReturned}}",
                "publicLink": "{{11.publicLink}}",
                "relationship": "{{11.relationship}}"
            },
            "metadata": {
                "designer": {
                    "x": 728,
                    "y": -154
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [11]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 31,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "pqStatus",
                "scope": "roundtrip",
                "value": "{{19.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 960,
                    "y": -5
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "pqStatus",
                        "type": "any",
                        "label": "pqStatus"
                    }
                ]
            }
        },
        {
            "id": 29,
            "module": "json:TransformToJSON",
            "version": 1,
            "parameters": {
                "space": ""
            },
            "mapper": {
                "object": "{{31.pqStatus}}"
            },
            "metadata": {
                "designer": {
                    "x": 1230,
                    "y": 142
                },
                "restore": {
                    "parameters": {
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "object",
                        "type": "any",
                        "label": "Object"
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "metadata": {
                "designer": {
                    "x": 1535,
                    "y": 37
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 24,
                    "text": "",
                    "filter": true
                }
            ]
        },
        "zone": "us1.make.com"
    }
}